# *nix tool files
############################
*.swp
*~

# OS X files
############################
.Spotlight-V100/
.Trashes/
._*
.DS_Store
Icon\?

# Bazel Build dirs
############################
/bazel-*
/*.bazelrc
!/.bazelrc

# JetBrains IDEs
############################
/.clwb/*
/.ijwb/*
/.idea
*.iml
!**/*.bazelproject

# Temp dirs and local notes
############################
/tmp
